<!DOCTYPE html>
<head>
    <title>{% block title %}Maksetut yleiset asumistuet{% endblock %}</title>
    <link rel="stylesheet" href="//unpkg.com/primitive-ui/dist/css/main.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/plug-ins/2.0.5/sorting/currency.js">
    <link rel="stylesheet" href="//code.highcharts.com/css/highcharts.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script> 
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script> 
    <script src="//code.highcharts.com/highcharts.js"></script>
    
    
    <style>
              
        body {
            margin-left:30px;
            margin-right:30px;
        }
    </style>
</head>
<body>

         
<div>  
{% block front %}
{%block text%}

{%endblock%}
{% endblock %}
</div>
 <div>  
    
      
</div>
</body>
</html>